{% extends 'base.html' %}
{% block content %}
<div class="container">
        <div class="row justify-content-center">
            <div class="col-6 mt-4">
                <a href="{% url 'ticket' %}"><button class="button-critique-flux" type="submit" style="width: 12rem;">Demander une critique</button></a>
                <a href="{% url 'review' %}"><button class="button-critique-flux" type="submit" style="width: 12rem;">Créer un critique</button></a>
            </div>
        </div>
</div>
        <br><br>
   {% for post in posts %}
        <div class="container-flux">
        <div class="row justify-content-center">
        {% if post.content_type == "TICKET" %}
            {% include 'blog/ticket_views.html' %}
        {% endif %}
        {% if post.content_type == "REVIEW" %}
            {% include 'blog/review_views.html' %}
        {% endif %}
        </div>
        </div>
    {% endfor %}
{% endblock content %}