{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2 style="text-align: center;">Vos Posts</h2>
        {% for ticket in tickets %}
            <div class="row m-5 p-5 justify-content-around border border-dark bg-secondary text-light">
            <div class="row justify-content-center">
            <div class="col-6 mt-4">
            <div class="border-bottom border-light fst-italic">Vous avez publié un ticket</div>
            <div class="border-bottom border-light fst-italic">{{ ticket.time_created }}</div>
            <h3 class="border-bottom border-light fst-italic">{{ ticket.titre }}</h3>
            <p class="border-bottom border-light fst-italic">{{ ticket.description }}</p>
            {% if ticket.image %}
                <img class="ticket__image" src="{{ ticket.image.url }}" width="100px">
            {% endif %}
            <a class="btn" href="{% url 'ticket_edit' ticket.pk %}"><button type="submit" > Modifier le ticket </button></a>
            <a class="btn" href="{% url 'ticket_delete' ticket.pk %}"><button type="submit" > Supprimer le ticket </button></a>
    </div>
</div>
            {% for review in ticket.review_set.all %}
                {% include 'blog/_reviews.html' %}
                <a class="btn" href="{% url 'review_edit' review.pk %}"><button type="submit">Modifier la critique</button></a>
                <a class="btn" href="{% url 'review_delete' review.pk %}"><button type="submit">Supprimer la critique</button></a>
            {% empty %}
            <a class="button-flux" href="{% url 'review_ticket' ticket.id %}"><button type="submit" > Créer une critique </button></a>
            {% endfor %}
        {% endfor %}
            </div>
            </div>
{% endblock content %}