<div class="col-7 mt-4">
    <div class="card w-75">
      <div class="card-body">
          <p class="user">{{ post.user }} a publié une critique</p>
          <h2 class="text-titre">{{ post.headline }} - review {{ post.rating }}</h2>
          <p class="date_review">{{ post.time_created }}</p>
          <h3 class="text-titre"> {{ post.body }} </h3>
            <div class="card-body">
                <h4 class="text-titre">Ticket - {{ post.ticket.user }}</h4>
                <h4 class="text-titre">{{ post.ticket.title }}</h4>
                <img class="card-img-bottom" src="{{ post.ticket.image.url }}" alt="Card image cap">
                {% if ticket.is_reviewed == False %}
                        <a class="button-flux" href="{% url 'review_response_ticket' post.id %}"><button type="submit" >Créer une critique</button></a>
                {% endif %}
            </div>
      </div>
    </div>
</div>