{% extends 'base.html' %}
{% block content %}
    <div class="form form_ticket">
        <h2>Modifier le ticket</h2>
        <form method="POST">
            {{ edit_form.as_p }}
            {% csrf_token %}
            <button class="btn" type="submit" >Sauvegarder</button>
        </form>
        <h2>Supprimer le ticket ?</h2>
        <form method="POST">
            {{ delete_form}}
            {% csrf_token %}
            <a class="btn" href="{% url 'ticket_delete' ticket.pk %}">Supprimer</a>
        </form>
    </div>
{% endblock content %}